<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Picture_Sorter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Picture_Sorter.Properties.Settings>
            <setting name="bs" serializeAs="String">
                <value>not set</value>
            </setting>
            <setting name="ft" serializeAs="String">
                <value>.jpg,.png,.bmp,.gif</value>
            </setting>
            <setting name="sendTobin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="backupBeforeConvert" serializeAs="String">
                <value>False</value>
            </setting>
        </Picture_Sorter.Properties.Settings>
    </userSettings>
</configuration>